/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #01172d;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #acd6f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-button {
    display: flex;
    align-items: center;
}

.chevron-icon {
    width: 20px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

.city-header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    color: #0a0202;
}

.daily-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#current-temp {
    font-size: 48px;
    margin-right: 20px;
}

.daily-section {
    text-align: center;
    margin-right: 20px;
}

.weather-icon {
    width: 50px;
    margin-bottom: 10px;
}

.forecast-text {
    font-size: 14px;
    color: #000000;
}

.divider {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.five-day {
    display: flex;
    justify-content: space-between;
}

.forecast-item {
    text-align: center;
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #0a0000;
}
